.category-page {
  width: 100%;
}

#category-type-form, #anime-title-form { 
  font-size: var(--font-base); 
}

.category-page__title {
  font-size: var(--font-md);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: var(--space-3);
  padding-top: var(--space-1);
  color: var(--color-pink);
}

.category-page__title__item {
  font-size: var(--font-xs);
  padding: var(--space-1);
}

.category__message { /* no result messages */
  position: absolute;
}
