/* Banner */
.banner {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner--layout {
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 0px 20%;
    text-align: center;
}

.banner--layout h1 {
    color: var(--color-pink);
    font-weight: 800;
    font-size: 2.6rem;
}

.banner--layout p {
    color: var(--color-dark-gray);
    font-size: 1.1rem;
    line-height: 1.9;
    padding: 0px 5%;
}

.banner--layout a {
    margin-top: var(--space-2);
    padding: var(--space-2) var(--space-4) !important;
    font-size: calc(var(--font-base) * 1.2) !important;
}

.featured-categories {
    justify-content: center !important;
    gap: var(--space-4);
    width: fit-content;
}
.featured-categories__item {
    display: block;
    width: 250px;
    padding: 1rem 0px;
    background-color: var(--color-lighter-gray);
    border-radius: 0px !important;
    border: 2px solid var(--color-lighter-gray);
    text-transform: uppercase;
    font-size: var(--font-sm) !important;
    text-align: center;
}
.featured-categories__item:visited, .featured-categories__item:link {
    color: var(--color-dark-gray);
}
.featured-categories__item:hover {
    filter: brightness(105%);
    border: 2px solid var(--color-pink);
}


.home--products {
    justify-content: space-between;
    align-items: center;
}