/*  Imports and variables */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import url("./css/home.css");
@import url("./css/dashboard.css");
@import url("./css/product-form.css");
@import url("./css/product-page.css");
@import url("./css/project-info.css");

:root {
  /* Color palette */
  --color-dark-pink: #c00e6a;
  --color-pink: #e60076;
  --color-light-pink: #fccee8;
  --color-baby-blue: #b0eaef;
  --color-dark-gray: #353539;
  --color-gray: #8f8f8f;
  --color-light-gray: #EFEFEF;
  --color-lighter-gray: #fafbfb;
  --color-white: #ffffff;
  --color-black: #09090b;
  --border-default: 1px solid #e1e1e1;
  /* Typography */
  --ff: "Zen Kaku Gothic New", sans-serif;
  --font-xs: 0.65em;
  --font-sm: 0.8em;
  --font-base: 0.95em;
  --font-md: 1.2em;
  --font-lg: 1.25em;

  /* Spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1.5rem; /* 24px */
  --space-5: 3rem; /* 48px */
  --space-6: 6rem; /* 96px */
}

/* Utilitary CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.5;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: var(--ff);
  background-color: transparent;
  text-decoration: none;
}

article,
aside,
footer,
nav,
section {
  display: block;
}

.hidden {
  display: none !important;
}
a:hover {
  color: var(--color-pink);
}

.icon {
  margin-right: var(--space-2);
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Base Styles */
body {
  scroll-behavior: smooth;
  max-width: 70vw;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-color: var(--color-lighter-gray);
}
main {
  gap: var(--space-4);
}
.form__input {
  padding: 0px var(--space-2);
  width: -webkit-fill-available;
  border-radius: var(--space-1);
  border: var(--border-default)
}

.border--top--pink {
    border-top: 2px solid var(--color-pink);
    padding: var(--space-4) 0px 0px;
}

.layout {
    margin: var(--space-4) 0px var(--space-6);
}

/* Buttons */
.button {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: var(--space-1);
  letter-spacing: 0.06em;
  font-weight: 700;
  transition: all ease 0.3s;
  font-size: var(--font-xs);
}
/* Buttons sizes */
.button--base { 
  padding: var(--space-2) 0.8rem; 
}

.button--small { 
  padding: var(--space-1) var(--space-3); 
}

/* Buttons Colors */
.button--gray {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}
  .button--gray:hover {
    background-color: var(--color-gray);
}

.button--light-pink {
  background-color: var(--color-light-pink);
  color: var(--color-dark-gray);
}
  .button--light-pink:hover {
    filter: grayscale(100%);
}

.button--pink {
  background-color: var(--color-pink);
  color: var(--color-white);
}
  .button--pink:hover {
    background-color: var(--color-dark-pink);
    color: var(--color-white);
}

/* Filter */
.filter {
  align-self: flex-start;
  position: sticky;
  top: var(--space-4);
  height: fit-content;
  max-height: 100vh;
  min-width: 240px;
  overflow-y: auto;
  padding-right: var(--space-4);
  margin-left: var(--space-3);
}
.filter h2 {
    width: 100%;
    padding: var(--space-2) var(--space-3);
    background-color: var(--color-dark-gray);
    font-size: var(--font-sm);
    color: var(--color-lighter-gray);
    letter-spacing: 1px;
}
.filter ul {
  margin: var(--space-1) 0px var(--space-4) var(--space-3);
}


/* Footer */
footer {
  padding: var(--space-2);
  background-color: var(--color-light-pink);
  font-weight: 400;
  text-align: center;
  color: var(--color-black);
  font-size: var(--font-sm);
}
  footer a {
    color: var(--color-black);
}
/* System messages */
.messages--container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.message {
  z-index: 10;
  position: absolute;
  bottom: 10%; right: 3%;
  padding: var(--space-3);
  background-color: var(--color-white);
  border: var(--border-default);
  border-radius: var(--space-2);
  box-shadow: 0px 2px 5px #00000050;
  font-weight: 600;
  transform: translateX(1000px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}
  .message--intro {
    font-weight: 300;
    color: var(--color-gray);
    font-size: var(--font-sm);
  }
  .message--text {
    font-weight: 600;
    font-size: var(--font-lg);
  }
  .message--success {
    color: var(--color-pink);
  }
  .message--error {
    color: var(--color-dark-gray);
  }
  .message.show {
    transform: translateX(0);
    opacity: 1;
}

.product-page {
  border-top: 2px solid var(--color-pink);
  padding: var(--space-3) 0px var(--space-6);
}
.breadcrumbs a, .breadcrumbs span {
    font-size: var(--font-base);
    color: var(--color-dark-gray);
    text-transform: capitalize;  
  }
.info__img {
  border-right: 1px solid var(--color-light-gray);
  border-radius: var(--space-1) 0px 0px var(--space-1);
  max-width: 550px;
}
.product-info {
  width: 100%;
  padding: var(--space-5);
  border-radius: 0px var(--space-1) var(--space-1) 0px;    
  background-color: var(--color-white);
}  
  .info__categories {
        justify-content: flex-start !important;
        gap: var(--space-1);
        margin-bottom: var(--space-2);
}
    .info__categories a {
        padding: 0px var(--space-1);
        border: var(--border-default);
        color: var(--color-dark-gray);
        font-size: var(--font-sm);
}
        .info__categories a:hover {
        color: var(--color-pink);
    }
  .info__title {
    margin-top: var(--space-4);
    font-weight: 900;
    font-size: 2.3rem;
    line-break: normal;
    line-height: 1.2;
  }
  .info__rating {
    margin-top: var(--space-3);
    font-weight: 600;
  }
  .info__rating i {
    color: var(--color-pink);
    margin-right: 2px;
  }
  .info__rating span {
    font-weight: 400;
    font-size: var(--font-sm);
    color: var(--color-gray);
  }
  .info__price {
    margin-top: var(--space-3);
    color: var(--color-pink);
    font-weight: 700;
    font-size: 2rem;
  }
  .info__description {
    margin-top: var(--space-3);
    line-break: normal;   
  }
  .info__buttons {
    margin-top: var(--space-3);
    justify-content: flex-start !important;
    gap: var(--space-3);
  }
  .info__button {
    font-size: var(--font-base);
    text-align: center;
    margin: var(--space-4) 0px var(--space-1);
  }
  .info__button:last-child:hover {
    background-color: var(--color-light-gray);
    color: var(--color-pink);
  }

.category__products {
  padding-bottom: var(--space-2);
}
.category__link {
text-decoration: underline;
color: var(--color-dark-gray);
align-self: flex-end;
}