/* ===== Import and variables ===== */
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("./css-templates/headers.css");
@import url("./css-templates/product-grid.css");
@import url("./css-templates/products-table.css");

:root {
  /* Color palette */
  --color-dark-pink: #c00e6a;
  --color-pink: #e60076;
  --color-light-pink: #fccee8;
  --color-dark-gray: #353539;
  --color-gray: #8f8f8f;
  --color-light-gray: #d2d2d2;
  --color-lighter-gray: #fafbfb;
  --color-white: #ffffff;
  --color-black: #09090b;
  /* Typography */
  --ff: "Yomogi", sans-serif;
  --font-xs: 0.75em;
  --font-sm: 0.8em;
  --font-base: 0.95em;
  --font-md: 1.2em;
  --font-lg: 1.25em;

  /* Spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1.5rem; /* 24px */
  --space-5: 3rem; /* 48px */
  --space-6: 6rem; /* 96px */
}

/* Utilitary CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.5;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
  box-sizing: content-box;
  font-family: var(--ff);
  background-color: transparent;
  text-decoration: none;
}

article,
aside,
footer,
nav,
section {
  display: block;
}
.hidden {
  display: none !important;
}

/* Base Styles */
a:hover {
  color: var(--color-pink);
}
.icon {
  margin-right: var(--space-2);
}
.underline:hover {
  text-decoration: underline;
}
body {
  scroll-behavior: smooth;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--color-lighter-gray);
}
main { 
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--space-4);
  padding: var(--space-4) var(--space-6); 
}
main aside { grid-area: 1 / 1 / 2 / 2; }
main section { grid-area: 1 / 2 / 2 / 7; }

.margintop--small { margin-top: var(--space-2); }
.margintop--medium { margin-top: var(--space-4); }

/* Buttons */
.button {
  cursor: pointer;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--space-2);
  transition: all ease 0.3s;
}
.button--small {
  cursor: pointer;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--space-1);
  transition: all ease 0.3s;
}
.button--gray {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}
.button--gray:hover {
  background-color: var(--color-gray);
}
.button--light-pink {
  background-color: var(--color-light-pink);
  color: var(--color-dark-gray);
}
.button--light-pink:hover {
  filter: grayscale(100%);
}
.button--pink {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.button--pink:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  transition: all ease 0.3s;
}
.button--fwidth {
  width: -webkit-fill-available;
}

/* Forms */
.form--small {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-3);
  font-size: var(--font-base);
}
.form__input--small {
  padding: 0px var(--space-2);
  margin-right: var(--space-2);
  width: -webkit-fill-available;
  border-radius: var(--space-1);
  border: 1px solid var(--color-light-gray);
}

/* Home */

/* Product Page */

/* Dashboard */
.dashboard--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__inventory { font-size: var(--font-base); }
.dashboard__counter { font-size: var(--font-sm); }
#categories-menu {
  z-index: 9;
  position: absolute;
  top: 70px;
  right: 200px;
  max-width: 320px;
  background-color: var(--color-white);
  padding: var(--space-3);
  box-shadow: 1px 1px 4px #00000021;
  border-radius: var(--space-1);
}
.categories__anime ul, .categories__type ul {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-pink);
  max-height: 100px;
}
.categories__title {
  font-size: var(--font-base);
  margin-top: var(--space-3);
  border-top: 1px solid var(--color-light-gray);
  padding-top: var(--space-1);
  color: var(--color-pink);
}
.categories__item {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-xs);
  padding: var(--space-1) 0px var(--space-1) var(--space-1);
}

/* Footer */
footer {
  padding: var(--space-1);
  background-color: var(--color-light-pink);
  font-weight: 300;
  text-align: center;
}
.footer--copyright {
  font-size: var(--font-xs);
}
footer a {
  color: var(--color-black);
  text-decoration: underline;
}