<aside class="filter" th:fragment="filter">
    <h2>Anime Series</h2>
    <ul>
        <li th:each="anime : ${animes}">
            <i class="icon fa-solid fa-caret-right"></i>
            <button class="underline filter__item" 
                    th:text="${anime.name}"
                    th:attr="data-anime-filter-id=${anime.id}"
                    ></button>
        </li>
    </ul>
    <h2>Categories</h2>
    <ul>
        <li th:each="type : ${productTypes}">
            <i class="icon fa-solid fa-caret-right"></i>
            <button class="underline filter__item" 
                    th:text="${type.name}"
                    th:attr="data-category-filter-id=${type.id}"
                    ></button>
        </li>
    </ul>
</aside>