<div th:fragment="categories-menu" class="modal hidden" id="categories-menu">
    <!-- Anime -->
    <button class="categories-menu__button button button--small button--light-pink" data-toggle-modal="anime-title-form" >
        Create Anime Title
    </button>
    <form class="hidden flex--row" id="anime-title-form" th:action="@{/category/anime/new}" method="post" th:object="${anime}" >
        <input class="categories-menu__input form__input" type="text" th:field="*{name}" placeholder="Anime title..." required />
        <input class="categories-menu__button--submit button button--small button--gray" type="submit" value="Add" />
    </form>

    <!-- Product type -->
    <button class="categories-menu__button button button--small button--light-pink" data-toggle-modal="category-type-form" >
        Create Category
    </button>
    <form class="hidden flex--row" id="category-type-form" th:action="@{/category/type/new}" method="post" th:object="${category}">
        <input class="categories-menu__input form__input" type="text" th:field="*{name}" placeholder="Category name..." required />
        <input class="categories-menu__button--submit button button--small button--gray" type="submit" value="Add" />
    </form>

    <!-- Categories-menu lists -->
    <div>
        <h2>Anime Titles</h2>
        <ul class="categories-menu__list">
            <li class="categories-menu__item flex--row"
                th:each="anime : ${animes}"
                th:attr="data-id=${anime.id}">
                <span th:text="${anime.name}"></span>
                <form th:action="@{'/anime/' + ${anime.id} + '/delete'}" 
                    method="post"
                    th:object="${anime}">
                    <button type="submit" class="delete-category__button">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <div>
        <h2>Product Types</h2>
        <ul class="categories-menu__list">
            <li class="categories-menu__item flex--row"
            th:each="type : ${productTypes}"
            th:attr="data-id=${type.id}">
            <span th:text="${type.name}"></span>
            <form th:action="@{'/category/' + ${type.id} + '/delete'}" 
                  method="post"
                  th:object="${category}" class="delete-category__form">
                <button type="submit" class="delete-category__button">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </form>
        </li>
    </div>
    </div>