<article th:fragment="products-card" class="product" th:each="product : ${products}">
    <a th:href="@{/product/{id}(id=${product.id})}">
        <img class="product__image" th:src="${product.image_url}" />
        <h3 class="product__title underline" th:text="${product.product_name}"></h3>
    </a>
    <p th:text="${product.stock <= 0} ? 'Out of stock' : 'In stock'"></p>
    <div>
        <p class="product__price">$ <span th:text="${product.price}"></span></p>
        <button class="button button--small button--pink">
            <i class="fa-solid fa-basket-shopping"></i></button>
        </button>
    </div>
</article>