.home__layout {
    max-width: 70vw;
    margin: 0 auto;
}
/* Header */
.home__layout header {
    padding-left: var(--space-3);
}
.home__header.flex--row { 
    align-items: center; 
}
.home__header:first-child {
    position: relative;
}
.home__header:last-child { 
    padding: var(--space-4) 0px var(--space-5);
}
.home__header img {
    width: 420px;
    height: auto;
}

.nav.flex--row { 
    gap: 2px; 
}
.nav__item {
    cursor: pointer;
    display: inline-block;
    background-color: var(--color-light-gray);
    padding: var(--space-1) var(--space-3);
    color: var(--color-black);
    text-decoration: none;
}
    .nav__item:hover {
        background-color: var(--color-lighter-gray);
        color: var(--color-pink);
}
/* Login form */
#login-form {
    z-index: 10;
    position: absolute;
    top: 40px; right: 175px;
    background-color: var(--color-lighter-gray);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.14);
    border: var(--border-default);
    border-radius: var(--space-1);
    padding: var(--space-4);
}
    #login-form.flex--column,
    #login-form .flex--row {
        gap: var(--space-3);
}
    .login__input {
        justify-content: flex-start !important;
        align-items: center;
        padding: var(--space-1) var(--space-2) !important;
}
    #login-email, 
    #login-password {
        width: 230px;
        font-size: var(--font-base);
        color: var(--color-dark-gray);
}
    #login-form i {
        color: var(--color-gray);
}
    .login__submit {
        align-items: center;
        font-size: var(--font-lg) !important;
    }
    .form__link {
        font-size: var(--font-sm);
        color: var(--color-dark-gray);
}

/* Search bar */
.searchbar {
    align-self: flex-end;
    padding-right: var(--space-3);
}
    .searchbar .form__input {
        border-radius: var(--space-1) 0px 0px var(--space-1) !important;
        width: 340px !important;
        min-width: 100px;
}
    .searchbar__button {
        border-radius: 0px var(--space-1) var(--space-1) 0px !important;
        font-size: var(--font-base) !important;
}

.home__content {
    padding-bottom: var(--space-5);
}
/* Banner */
.home--banner {
    position: relative;
}
.banner {
    width: 100%;
}
.banner--layout {
    justify-content: center !important;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 27%;
    text-align: center;
}
.banner__logo {
    margin-bottom: var(--space-5);
    width: 550px;
}
.banner--layout a {
    margin-top: var(--space-4);
    font-size: var(--font-md) !important;
    padding: var(--space-2) var(--space-4) !important;
}

/* Search by Anime Title */
.carousel--wrapper {
    position: relative;
    gap: var(--space-3);
    background-color: var(--color-light-gray);
    margin: var(--space-4);
    padding: var(--space-3) var(--space-4);
}
.carousel--wrapper > button {
    cursor: pointer;
    color: var(--color-gray);
    font-size: var(--font-md);
}
.carousel--overflow  {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.featured-categories {
    justify-content: center !important;
    gap: var(--space-4);
    width: fit-content;
}
  .featured-categories__item {
    background-color: var(--color-lighter-gray);
    font-size: var(--font-sm) !important;
    text-align: center;
    width: 250px;
    padding: 1rem 0px;
    border-radius: 0px !important;
    border: 2px solid var(--color-lighter-gray);
}
    .featured-categories__item:hover {
        filter: brightness(105%);
        border: 2px solid var(--color-pink);
}

/* Products */
.products--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--space-3);
  justify-items: center;
  margin-top: var(--space-4);
}
.product { 
    cursor: pointer;
    position: relative;
    max-width: 230px;
    background-color: var(--color-white);
    padding: var(--space-2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: var(--border-default);
}
    .product__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: var(--space-3);
}
        .product__image:hover {
            filter: opacity(0.6);
}
    .product__title {
        color: var(--color-dark-gray);
        word-break: break-all;
        font-size: var(--font-sm);
}
.product div {
    display: flex;
    justify-content: space-between;
}
.product__price {
    font-weight: 600;
    color: var(--color-pink);
}

#message--noresult, #message--result {
    width: 100%;
    text-align: center;
    margin-bottom: var(--space-6);
}
#message--noresult button, #message--result button {
    width: 100%;
    background-color: var(--color-light-gray);
    padding: var(--space-1);
    font-size: var(--font-base);
}
#message--noresult p {
    font-size: var(--font-md);
    margin-bottom: var(--space-3);
}