<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}" />
    <title th:text="${category.name} + ' | Moon Stationery | 月の文房具'">Category Page</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}">Header</div>

    <main class="layout--margin flex--row">
        <aside th:replace="~{fragments/filter-alt :: filter-alt}">Filter menu</aside>
        <div class="category-page">
            <nav class="breadcrumbs">
                <a th:href="@{/}">Home</a> &#47;
                <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Anime</a>
            </nav>
            <h2 class="category-page__title" th:text="${category.name}">Category Name</h2>
            <section class="border--top--pink products--grid" id="product-content">
                <article class="product"
                    th:each="product : ${products}"
                    th:attr="data-product-id=${product['id']},
                            data-type-id=${product['product_type_id']},
                            data-anime-id=${product['anime_id']}">
                    <a th:href="@{/product/{id}(id=${product['id']})}">
                        <img class="product__image" th:src="${product['image_url']}" alt="Product image" />
                        <div class="flex--row product__categories">
                                <p th:text="${product['anime_name']}"></p>
                                <p th:text="${product['product_type_name']}"></p>
                            </div>
                        <h3 class="product__title underline" th:text="${product['product_name']}">Product Name</h3>
                    </a>
                    <div>
                        <p>In stock</p>
                        <div class="flex--row">
                            <p class="product__price">$ <span th:text="${product['price']}">0.00</span></p>
                            <button class="product__button button button--small button--pink">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </button>
                        </div>
                    </div>
                </article>
                <div id="message--noresult" class="category__message hidden">
                    <p>No matching products found. :(</p>
                    <a class="underline" th:href="@{/}" >GO BACK TO HOME PAGE</a>
                </div>
            </section>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    <script th:src="@{/js/utilities.js}"></script>
</body>
</html>
