<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}" />
    <title>Moon Stationery | 月の文房具 | Inventory Database Management</title>
  </head>
  <body>
    <div class="message message--error" th:if="${addProductError}">
      <p class="message--intro">System update: Action failed. Please try again!</p>
      <p class="message--text" th:text="${addProductError}"></p>
    </div>
    <div class="message message--error" th:if="${animeError}">
      <p class="message--intro">System update: Action failed. Please try again!</p>
      <p class="message--text" th:text="${animeError}"></p>
    </div>
    <div class="message message--error" th:if="${categoryError}">
      <p class="message--intro">System update: Action failed. Please try again!</p>
      <p class="message--text" th:text="${categoryError}"></p>
    </div>
    <div class="message message--success" th:if="${addProductSuccess}">
      <p class="message--intro">System update: Action succeed!</p>
      <p class="message--text" th:text="${addProductSuccess}"></p>
    </div>
    <div class="message message--success" th:if="${animeSuccess}">
      <p class="message--intro">System update: Action succeed!</p>
      <p class="message--text" th:text="${animeSuccess}"></p>
    </div>
    <div class="message message--success" th:if="${categorySuccess}">
      <p class="message--intro">System update: Action succeed!</p>
      <p class="message--text" th:text="${categorySuccess}"></p>
    </div>
    <div class="message message--success" th:if="${deleteProductSuccess}">
      <p class="message--intro">System update: Action succeed!</p>
      <p class="message--text" th:text="${deleteProductSuccess}"></p>
    </div>
    <div class="dashboard--wrapper">
      <header class="header--dashboard">
        <img th:src="@{/images/logo.png}" alt="Moon Stationery's logo" />
        <ul>
          <li class="underline" data-toggle-modal="button-admin-orders">
            New orders(0)
            <!-- th:classappend="${product.stock < 0} ? ' negative'" -->
            <!-- (<span th:text="${orders-total}"></span>) --></li>
           | <li><a class="underline" th:href="@{/}">Go back</a></li>
           | <li class="underline"><a class="underline" th:href="@{/about}">About this project</a></li>
        </ul>
      </header>
      <main class="dashboard">
          <aside>
              <!-- Search/Filter -->
              <h2>Search by</h2>
              <ul>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              </ul>
          </aside>
          <section>
            <nav class="dashboard--nav">
              <div>
                <h1 class="dashboard__inventory">Products</h1>
                <p class="dashboard__counter"><span>0</span> registered itens</p>
              </div>

              <div class="dashboard__actions">
                  <!-- Category -->
                  <button class="underline" data-toggle-modal="categories-menu" >
                    <i class="icon fa-solid fa-tag"></i>Categories
                  </button>
                  
                  <!-- Category Forms -->
                  <div th:replace="~{fragments/modal-category :: categories-menu}"></div>

                  <!-- New Products -->
                  <a class="button button--base button--pink" th:href="@{/product/new}">
                    <i class="icon fa-solid fa-plus"></i>Add new Product
                  </a>
              </div>
            </nav>
            <div th:replace="~{fragments/products-table :: products-table}">Content</div>
        </section>
      </main>
    </div>
    <script th:src="@{/js/utilities.js}"></script>
  </body>
</html>
