<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}"/>
    <title>Moon Stationery | 月の文房具 | Kawaii & Anime-Inspired Supplies | Order Now!</title>
</head>
<body>
    <header class="header header--home">
        <div class="header--banner">
            <img class="banner--img" th:src="@{/images/bunny-left.png}">
            <div class="banner--intro">
                <a th:href="@{/dashboard}">
                    <img th:src="@{/images/logo.png}" alt="Moon Stationery's logo">
                </a>
                <p>Discover official anime-inspired stationery that brings magic to your everyday moments. From stickers to pens, we've got your desk covered!</p>
                <a class="button button--base button--pink" href="#product-content"><i class="icon fa-solid fa-moon"></i>Order Now!</a>
            </div>
            <img class="banner--img" th:src="@{/images/bunny-right.png}">
        </div>
    </header>
    <main class="home">
        <aside>
            <!-- Search/Filter -->
            <h2>Search by</h2>
            <ul>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            </ul>
        </aside>
        <section id="product-content">
            <nav>
                <button data-toggle-modal="button-client-order">Your order</button>
                <div id="button-client-order">

                </div>
                <form action="">
                    <input type="text" placeholder="Search...">
                </form>
            </nav>
            <div class="products--grid">
                <div th:replace="~{fragments/products-card :: products-card}">Products</div>
            </div>
            
        </section>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    <script th:src="@{/js/utilities.js}"></script>
</body>
</html>