<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}"/>
    <title th:text="${product.product_name} + ' | Moon Stationery | 月の文房具'">Product Name</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    
    <main class="layout--margin border--top--pink">
        <nav class="breadcrumbs">
            <a th:href="@{/}">Home</a> &#47;
            <a th:href="@{'/anime/' + ${product.anime_slug}}"
               th:text="${product.anime_name}">Anime</a> &#47;
            <a th:href="@{'/category/' + ${product.product_type_slug}}"
               th:text="${product.product_type_name}">Category</a> &#47;
            <span th:text="${product.product_name}">Product</span>
        </nav>

        <section class="product-page">
            <div class="flex--row">
                <img class="product-page__img" th:src="${product.image_url}" alt="Product Image"/>
                <div class="product-page--layout">
                    <div class="flex--row product-page__categories">
                        <a th:href="@{'/anime/' + ${product.anime_slug}}" th:text="${product.anime_name}"></a>
                        <a th:href="@{'/category/' + ${product.product_type_slug}}" th:text="${product.product_type_name}"></a>
                    </div>
                    <h1 class="product-page__title" th:text="${product.product_name}">Product Name</h1>
                    <p class="product-page__rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i> (4.5/5) <span>21 votes</span></p>
                    <p class="product-page__price" th:text="|$ ${product.price}|">$0.00</p>
                    <p class="product-page__description" th:text="${product.product_description}">Description</p>
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}" />
                        <div class="form-quantity flex--row">
                            <button type="button" class="quantity__button quantity-decrease">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input class="product-page__input" type="number" th:value="1" name="quantity" id="quantity" min="1" th:max="${product.stock}">
                            <span>units</span>
                            <button type="button" class="quantity__button quantity-increase">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="product-page__submit button button--base button--pink"><i class="icon fa-solid fa-cart-shopping"></i>Add to Cart</button>
                            <span class="underline product-page__wishlist"><i class="icon fa-regular fa-heart"></i>Save to Wishlist</span>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:if="${#lists.size(relatedProducts) > 0}"> 
            <div class="flex--row related-products">
                <h2 class="category__title">Related Products</h2>
                <a class="view__link underline" th:href="@{'/category/' + ${product.product_type_slug}}">See more</a>
            </div>

            <section class="border--top--pink related-products__grid">
                <article class="product product-card"
                            th:each="related : ${relatedProducts}" 
                            th:attr="data-product-id=${related.id},
                                    ata-type-id=${related.product_type_id},
                                    data-anime-id=${related.anime_id}">
                    <i class="product-card__wishlist fa-regular fa-heart"></i>
                    <a th:href="@{/product/{id}(id=${related.id})}">
                        <img class="product-card__image" 
                                th:src="${related.image_url}"
                                th:classappend="${related.stock <= 0} ? 'out'">
                        <div class="flex--row product-card__categories">
                            <p class="underline" th:text="${related.anime_name}"></p>
                            <p class="underline" th:text="${related.product_type_name}"></p>
                        </div>
                        <h3 class="search-title product-card__title underline" th:text="${related.product_name}"></h3>
                    </a>
                    <div class="flex--row">
                        <p class="product-card__price">$ <span th:text="${related.price}"></span></p>
                        <p th:text="|${related.stock} units|">Stock Status</p>
                    </div>
                </article>
            </section>
        </section>
    </main>

    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    <script th:src="@{/js/carousel.js}"></script>
    <script th:src="@{/js/number-input-controller.js}"></script>
    <script th:src="@{/js/search-bar.js}"></script>
    <script th:src="@{/js/toggle-display.js}"></script>

</body>
</html>
