/* Dashboard Table */
.dashboard--table {
  margin-top: var(--space-4);
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0 var(--space-2);
}
  .dashboard--table thead {
    font-size: var(--font-sm);
    color: var(--color-gray);
}
  .dashboard--table th {
    padding: 0 var(--space-1);
    height: 60px;
    vertical-align: middle; 
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
  }
  .dashboard--table td {
    padding: var(--space-1);
    height: 60px;
    vertical-align: middle;
    font-weight: 600; 
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
}
  .table--row {
    overflow: hidden;
    font-size: var(--font-sm);
    color: var(--color-dark-gray);
    transition: background 0.2s ease;
}
    .table--row:hover {
      background-color: #eeeeee97;
}
.row--img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e5e7eb;
  margin-right: var(--space-2);
}
.row--title { 
  display: flex;
  align-items: center;
}

.row--category {
  text-transform: capitalize;
}

.row--switch {
  text-align: center;
}
  .row--switch .switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 13px;
    transform: translateY(7px);
}
  .row--switch .switch input {
    opacity: 0; width: 0; height: 0;
}
  .row--switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: var(--color-light-gray);
    transition: 0.3s;
    border-radius: 34px;
}
  .row--switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -1px;
    bottom: -2px;
    background-color: var(--color-gray);
    transition: 0.3s;
    border-radius: 50%;
}
    .row--switch .switch input:checked + .slider {
      background-color: var(--color-light-pink);
}
    .row--switch .switch input:checked + .slider:before {
      transform: translateX(23px);
      background-color: var(--color-dark-pink);
}

  .row--actions i {
    color: var(--color-gray);
    cursor: pointer;
    font-size: 1rem;
    padding: 6px;
    transition: color 0.2s ease;
}
  .row--actions i:hover {
    color: var(--color-dark-pink);
}


.dashboard--table th:nth-child(2),
.dashboard--table td:nth-child(2) {
  width: 500px; /* Image miniature and product name column */
}   