/* (Default Header) Login */
#login-form {
    top: 100px; right: 120px;
    padding: var(--space-4) var(--space-3);
    width: 300px;
}

#login-form.flex--column, #login-form .flex--row {
    gap: var(--space-3);
}

.login__input {
    justify-content: flex-start !important;
    align-items: center;
    padding: var(--space-1) var(--space-2) !important;
}

#login-email, #login-password {
    width: 230px;
    font-size: var(--font-base);
    color: var(--color-dark-gray);
}

#login-form i {
    color: var(--color-gray);
}

.login__submit {
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-lg) !important;
    width: 100%;
}

.form__link {
    font-size: var(--font-xs);
    color: var(--color-dark-gray);
}   


/* Search bar */
.searchbar .form__input {
    max-width: 340px !important;
    min-width: 100px;
    background-color: var(--color-lighter-gray);
    border-radius: var(--space-1) 0px 0px var(--space-1) !important;
    font-size: var(--font-base) !important;
}
.searchbar__button {
    padding: var(--space-1) var(--space-2) !important;
    border-radius: 0px var(--space-1) var(--space-1) 0px !important;
    font-size: var(--font-base) !important;
}

/* (Dashboard) Add/Delete Category */
#categories-menu {
    top: 50px;
    right: 200px;
    min-width: 300px;
    max-width: 300px;
    padding: var(--space-3);
}

.categories-menu__button {
    width: -webkit-fill-available;
    margin: var(--space-2) 0px;
}

#category-type-form, #anime-title-form {
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-3);
  font-size: var(--font-base); 
}

.categories-menu__title {
    margin-top: var(--space-3);
    font-size: var(--font-md);
    color: var(--color-pink);
}

.categories-menu__input {
    width: 75%;    
    font-size: var(--font-base);
}

.categories-menu__button--submit {
    margin-left: var(--space-3);
    font-size: var(--font-sm);
}

.categories-menu__list {
    max-height: 120px;
    overflow-y: scroll;
    margin-top: var(--space-2);
}
.categories-menu__list::-webkit-scrollbar {
    width: 4px;
}
.categories-menu__list::-webkit-scrollbar-track {
    background: transparent;
}
.categories-menu__list::-webkit-scrollbar-thumb {
    background-color: var(--color-pink);
}

.categories-menu__list ul {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-pink);
    max-height: 100px;
}
.categories-menu__item {
    justify-content: space-between;
    border-top: var(--border-default);
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-base);
    text-transform: capitalize;
}
.categories-menu__item i {
    cursor: pointer;
    color: var(--color-pink);
}

/* (Dashboard) Add/Edit Product */
.product-form__container {
    margin: var(--space-4) 0px;
    gap: var(--space-3);
}
.product-form__container .form__input {
    font-size: var(--font-base);
}
.product-form__container label {
    display: block;
    font-weight: 500;
    margin-bottom: var(--space-2);
}
.form__input#anime_id, .form__input#product_type_id {
    width: 30%;   
    text-transform: capitalize;
}
.product-form__container div.flex--row {
    justify-content: space-between;
    align-items: center;
}
.product-form__checkbox {
    display: flex !important;
    margin-bottom: 0px !important;
    align-items: center;
}
.product-form__container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: var(--space-3);
}

.product-form__container input[type="checkbox"]:checked {
    background-color: var(--color-pink);
    border-color: var(--color-pink);
    position: relative;
}

.product-form__container input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 3px;
}
.product-form__submit {
    font-size: var(--font-base);
    padding: var(--space-2) var(--space-4);
}

/* Dashboard Modals */

.delete-modal {
    right: 10px;
    width: 325px;
    padding: var(--space-3);
}
.delete-modal form {
    margin-top: var(--space-2);
    display: flex;
    justify-content: flex-end;
    gap: var(--space-2);
    font-size: var(--font-md);
}